@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="solutions">
    <div class="k2s-green-container defaultPadding">

        <div class="header-title">
            <h3 class="title-center">Our Solutions</h3>
        </div>

        <div class="type-of-solutions">

            @if (Model.HasValue("solution"))
            {
                var solutions = Model.Value<IEnumerable<BlockListItem>>("solution");
                int count = 1;

                foreach (var solution in solutions)
                {
                    var title = solution.Content.Value<string>("title");
                    var description = solution.Content.Value<string>("description");
                    var iconClass = solution.Content.Value<string>("iconClass");
                   var links = solution.Content.Value<IEnumerable<Link>>("ctaLink");
var firstLink = links?.FirstOrDefault();

var url = firstLink?.Url ?? "#";
var target = firstLink?.Target ?? "_self";





                    

                    <a class="type-of-solutions-item aos-init aos-animate"
                       data-aos="zoom-in"
                       href="@url"
                       target="@target"
                       style="position: relative; display:block;">

                        <div class="flip-card-inner">

                            <!-- FRONT -->
                            <div class="flip-card-front">
                                <div class="counter">@(count.ToString("D2"))</div>
                                <div class="@iconClass"></div>
                                <h5>@title</h5>
                            </div>

                            <!-- BACK -->
                            <div class="flip-card-back">
                                <div class="counter">@(count.ToString("D2"))</div>
                                <div class="@iconClass"></div>
                                <h5>@title</h5>
                                <p>@description</p>

                                <span class="morebutton">
                                    Learn More <i class="arrow-right"></i>
                                </span>
                            </div>

                        </div>
                    </a>

                    count++;
                }
            }

        </div>
    </div>
</div>
