@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>
@using Umbraco.Cms.Core.Models.PublishedContent

@{
    var stayConnectedImage = Model.Value<IPublishedContent>("stayconnectedImage");
    var stayConnectedTitle = Model.Value<string>("stayconnectedtitle");
    var stayConnectedSubtitle = Model.Value<string>("stayconnectedsubtitle");

    var formTitle = Model.Value<string>("formTitle");
    var formSubtitle = Model.Value<string>("formSubtitle");
    var buttonText = Model.Value<string>("subscribeButtonText") ?? "SUBSCRIBE";
}

<div class="stay-connected" id="stay-connected">
    <div class="k2s-green-container defaultPadding">
        <div class="ant-row css-240cud" style="margin-left: -12px; margin-right: -12px;">

            <!-- Left Side -->
            <div class="ant-col gutter-row ant-col-sm-24 ant-col-md-12 css-240cud" style="padding-left: 12px; padding-right: 12px;">
                <div class="bgblue containerPadding">
                    <div class="img_stay_connected">
                        @if (stayConnectedImage != null)
                        {
                            <img src="@stayConnectedImage.Url()" alt="@stayConnectedTitle" />
                        }
                        else
                        {
                            <img src="/images/left-stay-connect.png" alt="Stay Connected" />
                        }
                    </div>
                    <div class="header-title pd50 white">
                        <h4>@stayConnectedTitle</h4>
                        <p>@Html.Raw(stayConnectedSubtitle)</p>
                    </div>
                </div>
            </div>

            <!-- Right Side -->
            <div class="ant-col gutter-row ant-col-sm-24 ant-col-md-12 css-240cud" style="padding-left: 12px; padding-right: 12px;">
                <div class="bgwhite containerPadding bs">
                    <div class="header-title">
                        <h3>@formTitle</h3>
                        <p>@formSubtitle</p>
                    </div>

                    <!-- First Name / Last Name -->
                    <div class="ant-row css-240cud" style="margin-left: -12px; margin-right: -12px;">
                        <div class="ant-col ant-col-xs-24 ant-col-sm-12 ant-col-md-12 css-240cud" style="padding-left: 12px; padding-right: 12px;">
                            <div class="form-feild">
                                <input id="firstName" placeholder="First Name" class="ant-input ant-input-lg css-240cud ant-input-outlined inputFeild" type="text" />
                            </div>
                        </div>
                        <div class="ant-col ant-col-xs-24 ant-col-sm-12 ant-col-md-12 css-240cud" style="padding-left: 12px; padding-right: 12px;">
                            <div class="form-feild">
                                <input id="lastName" placeholder="Last Name" class="ant-input ant-input-lg css-240cud ant-input-outlined inputFeild" type="text" />
                            </div>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="ant-row css-240cud" style="margin-left: -12px; margin-right: -12px;">
                        <div class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-24 css-240cud" style="padding-left: 12px; padding-right: 12px;">
                            <div class="form-feild">
                                <input id="email" placeholder="Enter Your Email" class="ant-input ant-input-lg css-240cud ant-input-outlined inputFeild" type="email" />
                            </div>
                        </div>
                    </div>

                    <!-- Dropdown (Select Option) - Without Box -->
                    <div class="ant-row css-240cud" style="margin-left: -12px; margin-right: -12px;">
                        <div class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-24 css-240cud" style="padding-left: 12px; padding-right: 12px;">
                            <div class="form-feild">
                                <!-- Regular select dropdown without boxed styling -->
                                <select id="selectOption" class="ant-input ant-input-lg css-240cud inputFeild">
                                    <option value="" disabled selected>Select an option</option>
                                    <option value="option1">Wind Energy</option>
                                    <option value="option2">Solar Energy</option>
                                    <option value="option3">Hydrogen Energy</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Message -->
                    <div class="ant-row css-240cud" style="margin-left: -12px; margin-right: -12px;">
                        <div class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-24 css-240cud" style="padding-left: 12px; padding-right: 12px;">
                            <div class="form-feild last">
                                <textarea id="message" placeholder="Enter your message" rows="2" class="ant-input ant-input-lg css-240cud ant-input-outlined inputFeild"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <button type="button" class="ant-btn css-240cud ant-btn-primary ant-btn-color-primary ant-btn-variant-solid ant-btn-lg morebutton">
                        <span>@buttonText <i class="arrow-right"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
